.navigation_bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 5%;
    background-color: #121212
}


.search_bar{
    display: flex;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px; /*modern rounded look*/
    padding: 5px 15px;
    border: 1px solid #333;
    width: 50%;
    margin: 0 auto;
    transition: all 0.3s ease;
}

.search_bar:hover {
    border-color: #DBA506;
    background-color: rgba(255, 255, 255, 0.1);
}

.search_bar input{
    background-color: transparent;
    border: none;
    color: #ffffff; 
    flex: 1;
    outline: none;
    padding: 10px;
    font-size: 1rem;
}

.search_bar input::placeholder{
    color: #999
}

.searchIconButton{
    background: none;
    border: none;
    color: #DBA506;
    cursor: pointer;
    display: flex;
    padding-left: 10px;
}

body{
    background-color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    color: white;
}

.cinamaticContainer {
    position: relative;
    height: 70vh;
    background: radial-gradient(circle at 20%, #1a1a1a 0%, #000000 100%);
    display: flex;
    overflow: hidden;
}

.cinamaticCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.cinamaticOverlay{
    position: relative;
    z-index: 5;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.cinamaticContentWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding:  0 5%;
}

.cinamaticImage img {
    height: 480px;
    width: auto;
    filter: drop-shadow(0 0 30px rgba(0,0,0,0.7));
    pointer-events:none;
    border-radius: 8px;
}

.imdbRating{
    color: #DBA506;
    font-weight: bold;
}

.trendingNow{
    padding: 40px 5%;
}

.sectionTitle{
    font-size: 1.5rem;
    color: #DBA506;
    margin-bottom: 20px;
}

.movieGrid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 25px;
}

.movieCard{
    background: #1a1a1a;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    border: 1px solid #333;
}

.movieCard img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.cardInfo{
    padding: 15px;
}

.cardInfo p {
    color: #DBA506;
    font-weight: bold;
    margin: 0;
}

.cardInfo h3 {
    font-size: 1rem;
    margin: 5px 0 0;
}

